[user]
	name = Example Name
	email = name@example.net
	signingkey = C:/Users/example/.ssh/id_rsa
[alias]
	shorty = status --short --branch
	s = shorty
	cm = commit -m
	commend = commit --amend --no-edit
	merc = merge --no-ff
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
	prebase = pull --rebase origin
	porig = push origin
	sync = !git prebase && git porig

[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[init]
	defaultBranch = main
[commit]
	gpgsign = false
[tag]
	forceSignAnnotated = false
[core]
	longpaths = true
[credential "helperselector"]
	selected = manager-core
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.allowed_signers
